<?php

// Enables basic notification
$config['newmail_notifier_basic'] = {{ item.options.newmail_notifier_basic }};

// Enables sound notification
$config['newmail_notifier_sound'] = {{ item.options.newmail_notifier_sound }};

// Enables desktop notification
$config['newmail_notifier_desktop'] = {{ item.options.newmail_notifier_desktop }};

// Desktop notification close timeout in seconds
$config['newmail_notifier_desktop_timeout'] = {{ item.options.newmail_notifier_desktop_timeout }};

?>
