<?php

/**
 * ZipDownload configuration file
 */

// Zip attachments
// Only show the link when there are more than this many attachments
// -1 to prevent downloading of attachments as zip
$config['zipdownload_attachments'] = {{ item.options.zipdownload_attachments }};

// Zip selection of mail messages
// This option enables downloading of multiple messages as one zip archive.
// The number or string value specifies maximum total size of all messages
// in the archive (not the size of the archive itself).
$config['zipdownload_selection'] = '{{ item.options.zipdownload_selection }}';

// Charset to use for filenames inside the zip
$config['zipdownload_charset'] = '{{ item.options.zipdownload_charset }}';

?>
