<?php

// Enable emoticons in plain text messages preview
$config['emoticons_display'] = {{ item.options.emoticons_display }};

// Enable emoticons in compose editor (HTML)
$config['emoticons_compose'] = {{ item.options.emoticons_compose }};
