<?php

//Dropdown menu label, leave empty to use default language
$config['language_dropdown_label']= '';

//Default dropdown selection
$config['language_dropdown_selected'] = '{{ item.options.language_dropdown_selected }}';
?>
