<?php

//// RCMCardDAV Plugin Admin Settings

///////////////////////////////////////////////////////////////////////
////                                                               ////
////                                                               ////
//// SEE doc/ADMIN-SETTINGS.md FOR DOCUMENTATION ON THE PARAMETERS ////
////                                                               ////
////                                                               ////
///////////////////////////////////////////////////////////////////////


//// ** GLOBAL SETTINGS

// Disallow users to add custom addressbooks (default: false)
// $prefs['_GLOBAL']['fixed'] = {{ rcube_plugins_carddav_prefs_fixed }};

// When enabled, this option hides the 'CardDAV' section inside Preferences.
// $prefs['_GLOBAL']['hide_preferences'] = {{ rcube_plugins_carddav_hide_prefs }};

// Scheme for storing the CardDAV passwords, in order from least to best security.
// Options: plain, base64, des_key, encrypted (default)
// $prefs['_GLOBAL']['pwstore_scheme'] = 'encrypted';

// Specify minimum loglevels for logging for the plugin and the HTTP client
// The following are possible: DEBUG, INFO, NOTICE, WARNING, ERROR, CRITICAL, ALERT, EMERGENCY
// Defaults to ERROR
$prefs['_GLOBAL']['loglevel'] = \Psr\Log\LogLevel::WARNING;
$prefs['_GLOBAL']['loglevel_http'] = \Psr\Log\LogLevel::ERROR;

// Select addressbook from preset to use as Roundcube's collected recipients or collected/trusted senders addressbook,
// corresponding to the roundcube options of the same name available since roundcube 1.5.
// Note that only writeable addressbooks can be used for this. If you do not want to use these options, simply do not
// define them
// If no/several addressbooks match, the roundcube setting will not be changed
//$prefs['_GLOBAL']['collected_recipients'] = [
//    // Key of the preset, i.e. whatever is used for <Presetname> in the template below
//    'preset'  => '<Presetname>',
//    // The placeholders that can be used in the url attribute can also be used inside these regular rexpressions
//    // If both matchname and matchurl are given, both need to match for the addressbook to be used
//    'matchname' => '/collected recipients/i',
//    'matchurl' => '#http://carddav.example.com/abooks/%u/CollectedRecipients#',
//];
//$prefs['_GLOBAL']['collected_senders'] = [
//    // Key of the preset, i.e. whatever is used for <Presetname> in the template below
//    'preset'  => '<Presetname>',
//    // The placeholders that can be used in the url attribute can also be used inside these regular rexpressions
//    // If both matchname and matchurl are given, both need to match for the addressbook to be used
//    'matchname' => '/collected recipients/i',
//    'matchurl' => '#http://carddav.example.com/abooks/%u/CollectedRecipients#',
//];

//// ** ACCOUNT PRESETS

// Each account preset takes the following form:

$prefs['{{ rcube_plugins_carddav_presetname }}'] = [
    // required attributes
    'accountname'  =>  '{{ rcube_plugins_carddav_accountname }}',
    'name'         =>  '{{ rcube_plugins_carddav_name }}',
    'discovery_url'          =>  '{{ rcube_plugins_carddav_url }}',

    // required attributes unless passwordless authentication is used (Kerberos)
    'username'     =>  '%l',
    'password'     =>  '%p',
    //// optional attributes
    ////// if discovery_url is not specified / null, addressbook discovery is disabled (see extra_addressbooks)
    'discovery_url'          =>  '{{ rcube_plugins_carddav_url }}',
    'rediscover_time' => '24:00:00',
    ////// hide the account/addressbooks of this preset from CardDAV settings
    'hide' => {{ rcube_plugins_carddav_reset_hide }},
    // Auto-discovered addressbook attributes, and for extra addressbooks if not overridden there
    //// optional attributes
    'name'         => '{{ rcube_plugins_carddav_name }}',
    'active'       =>  {{ rcube_plugins_carddav_active }},
    'readonly'     =>  false,
    'refresh_time' => '01:00:00',
    'use_categories' => false,
    ////// attributes that are fixed (i.e., not editable by the user) and auto-updated for this preset
    'fixed'        =>  ['discovery_url', 'username', 'password'],
    ////// only show contacts that have an email address (even in the addressbook view)
    'require_always_email' => false,

    // attributes that are fixed (i.e., not editable by the user) and auto-updated for this preset
    'fixed'        =>  ['refresh_time', 'username', 'password'],

    // always require these attributes, even for addressbook view
    'require_always' => ['{{ rcube_plugins_carddav_attr_require }}'],

    // hide this preset from CardDAV preferences section so users can't even see it
    'hide' => {{ rcube_plugins_carddav_reset_hide }},
];


// vim: ts=4:sw=4:expandtab:fenc=utf8:ff=unix:tw=120:ft=php