<?php
  // whether to globally enable thunderbird labels
  $config['tb_label_enable'] = {{ item.options.tb_label_enable_globally }};
  // add labels to contextmenu (if contextmenu plugin is present)
  $config['tb_label_enable_contextmenu'] = true;
  // enable kb shortcuts (1-5)
  $config['tb_label_enable_shortcuts'] = true;
  // users can modify labels
  $config['tb_label_modify_labels'] = true;
  // style for UI: 
  // - 'bullets' shows coloured bullets for each label (shows all labels)
  // - 'thunderbird' colors subject like thunderbird does (shows only most important label)
  // - 'badges' shows text of label inside coloured badges (shows all labels)
  $config['tb_label_style'] = "{{ item.options.tb_label_style }}";
  // custom hidden flags
  $config['tb_label_hidden_flags'] = array();

