<?php

/*
 +-----------------------------------------------------------------------+
 | Local configuration for the Roundcube Webmail installation.           |
 |                                                                       |
 | This is a sample configuration file only containing the minimum       |
 | setup required for a functional installation. Copy more options       |
 | from defaults.inc.php to this file to override the defaults.          |
 |                                                                       |
 | This file is part of the Roundcube Webmail client                     |
 | Copyright (C) The Roundcube Dev Team                                  |
 |                                                                       |
 | Licensed under the GNU General Public License version 3 or            |
 | any later version with exceptions for skins & plugins.                |
 | See the README file for a full license statement.                     |
 +-----------------------------------------------------------------------+
*/

$config = [];

// ----------------------------------
// SQL DATABASE
// ----------------------------------

// Database connection string (DSN) for read+write operations
// Format (compatible with PEAR MDB2): db_provider://user:password@host/database
// Currently supported db_providers: mysql, pgsql, sqlite, mssql, sqlsrv, oracle
// For examples see http://pear.php.net/manual/en/package.database.mdb2.intro-dsn.php
// Note: for SQLite use absolute path (Linux): 'sqlite:////full/path/to/sqlite.db?mode=0646'
//       or (Windows): 'sqlite:///C:/full/path/to/sqlite.db'
$config['db_dsnw'] = '{{ rcube_db_plugin }}://{{ rcube_db_username }}:{{ rcube_db_passwd }}@{{ rcube_db_hostname }}/{{ rcube_db_name }}';

// ----------------------------------
// IMAP
// ----------------------------------

// The IMAP host (and optionally port number) chosen to perform the log-in.
// Leave blank to show a textbox at login, give a list of hosts
// to display a pulldown menu or set one host as string.
// Enter hostname with prefix ssl:// to use Implicit TLS, or use
// prefix tls:// to use STARTTLS.
// If port number is omitted it will be set to 993 (for ssl://) or 143 otherwise.
// Supported replacement variables:
// %n - hostname ($_SERVER['SERVER_NAME'])
// %t - hostname without the first part
// %d - domain (http hostname $_SERVER['HTTP_HOST'] without the first part)
// %s - domain name after the '@' from e-mail address provided at login screen
// For example %n = mail.domain.tld, %t = domain.tld
// WARNING: After hostname change update of mail_host column in users table is
//          required to match old user data records with the new host.

// IMAP host chosen to perform the log-in.
// See defaults.inc.php for the option description.
$config['imap_host'] = '{{ rcube_default_host }}';

// Log LDAP conversation to <log_dir>/ldap.log or to syslog
$config['ldap_debug'] = {{ rcube_ldap_debug }};

// ----------------------------------
// SMTP
// ----------------------------------

// SMTP server host (for sending mails).
// See defaults.inc.php for the option description.
$config['smtp_host'] = '{{ rcube_security_proto }}://{{ rcube_smtp_server }}:{{ rcube_smpt_port }}';

// SMTP server host (and optional port number) for sending mails.
// Enter hostname with prefix ssl:// to use Implicit TLS, or use
// prefix tls:// to use STARTTLS.
// If port number is omitted it will be set to 465 (for ssl://) or 587 otherwise.
// Supported replacement variables:
// %h - user's IMAP hostname
// %n - hostname ($_SERVER['SERVER_NAME'])
// %t - hostname without the first part
// %d - domain (http hostname $_SERVER['HTTP_HOST'] without the first part)
// %z - IMAP domain (IMAP hostname without the first part)
// For example %n = mail.domain.tld, %t = domain.tld
// To specify different SMTP servers for different IMAP hosts provide an array
// of IMAP host (no prefix or port) and SMTP server e.g. ['imap.example.com' => 'smtp.example.net']

// SMTP username (if required)
// Note: %u variable will be replaced with current user's username
$config['smtp_user'] = '{{ rcube_smtp_user }}';

// SMTP password (if required)
// Note: When set to '%p' current user's password will be used
$config['smtp_pass'] = '{{ rcube_smtp_passwd }}';

// ----------------------------------
// SYSTEM
// ----------------------------------

// provide an URL where a user can get support for this Roundcube installation
// PLEASE DO NOT LINK TO THE ROUNDCUBE.NET WEBSITE HERE!
$config['support_url'] = '{{ rcube_support_url }}';

{% if rcube_legal_url is defined %}
// provide an URL for a legal link
 // PLEASE DO NOT LINK TO THE ROUNDCUBE.NET WEBSITE HERE!
 $config['legal_url'] = '{{ rcube_legal_url }}';

 {% endif %}
 {% if rcube_privacy_policy_url is defined %}
 // provide an URL for a privacy policy link
 // PLEASE DO NOT LINK TO THE ROUNDCUBE.NET WEBSITE HERE!
 $config['privacy_policy_url'] = '{{ rcube_privacy_policy_url }}';

 {% endif %}
 {% if rcube_password_reset_url is defined %}
 // provide an URL for a password reset link
 // PLEASE DO NOT LINK TO THE ROUNDCUBE.NET WEBSITE HERE!
 $config['password_reset_url'] = '{{ rcube_password_reset_url }}';

{% endif %}
// Location of temporary saved files such as attachments and cache files
// must be writeable for the user who runs PHP process (Apache user if mod_php is being used)
$config['temp_dir'] = '{{ rcube_temp_dir }}';// Name your service. This is displayed on the login screen and in the window title// This key is used to encrypt the users imap password which is stored
// in the session record. For the default cipher method it must be
// exactly 24 characters long.
// YOUR KEY MUST BE DIFFERENT THAN THE SAMPLE VALUE FOR SECURITY REASONS
$config['des_key'] = '{{ rcube_des_key }}';

// Name your service. This is displayed on the login screen and in the window title
$config['product_name'] = '{{ rcube_product_name }}';

// ---------------------------------- 
// LOGGING/DEBUGGING 
// ---------------------------------- 

// use this folder to store log files
// must be writeable for the user who runs PHP process (Apache user if mod_php is being used)
// This is used by the 'file' log driver.
$config['log_dir'] = '{{ rcube_logdir }}';

// Log successful/failed logins to <log_dir>/userlogins.log or to syslog
$config['log_logins'] = {{ rcube_log_logins }};

// Log sent messages to <log_dir>/sendmail.log or to syslog
$config['smtp_log'] = {{ rcube_smtp_log }};

// ----------------------------------
// PLUGINS
// ----------------------------------

// List of active plugins (in plugins/ directory)
$config['plugins'] = [
{% if rcube_plugins is defined %}
{% for item in rcube_plugins %}
    '{{ item.name }}',
{% endfor %}
{% endif %}
];

// skin name: folder from skins/
$config['skin'] = '{{ rcube_default_skin }}';


// ----------------------------------
// USER INTERFACE
// ----------------------------------

// the default locale setting (leave empty for auto-detection)
// RFC1766 formatted language name like en_US, de_DE, de_CH, fr_FR, pt_BR
$config['language'] = '{{ rcube_default_lang }}';

// give this choice of date formats to the user to select from
// Note: do not use ambiguous formats like m/d/Y
$config['date_formats'] = ['Y-m-d', 'Y/m/d', 'Y.m.d', 'd-m-Y', 'd/m/Y', 'd.m.Y', 'j.n.Y'];

// Make use of the built-in spell checker. It is based on GoogieSpell.
$config['enable_spellcheck'] = {{ rcube_enable_spellcheck }};

// Set the spell checking engine. Possible values:
// - 'googie'  - the default (also used for connecting to Nox Spell Server, see 'spellcheck_uri' setting)
// - 'pspell'  - requires the PHP Pspell module and aspell installed
// - 'enchant' - requires the PHP Enchant module
// - 'atd'     - install your own After the Deadline server or check with the people at http://www.afterthedeadline.com before using their API
// Since Google shut down their public spell checking service, the default settings
// connect to http://spell.roundcube.net which is a hosted service provided by Roundcube.
// You can connect to any other googie-compliant service by setting 'spellcheck_uri' accordingly.
$config['spellcheck_engine'] = '{{ rcube_spellcheck_engine }}';

// ----------------------------------
// ADDRESSBOOK SETTINGS
// ----------------------------------

// The minimum number of characters required to be typed in an autocomplete field
// before address books will be searched. Most useful for LDAP directories that
// may need to do lengthy results building given overly-broad searches
$config['autocomplete_min_length'] = 3;

// ----------------------------------
// USER PREFERENCES
// ----------------------------------

// Defines address book (internal index) to which new contacts will be added
// By default it is the first writeable addressbook.
// Note: Use '0' for built-in address book.
$config['default_addressbook'] = null;

// compose html formatted messages by default
//  0 - never,
//  1 - always,
//  2 - on reply to HTML message,
//  3 - on forward or reply to HTML message
//  4 - always, except when replying to plain text message
$config['htmleditor'] = {{ rcube_htmleditor }};

// Encoding of long/non-ascii attachment names:
// 0 - Full RFC 2231 compatible
// 1 - RFC 2047 for 'name' and RFC 2231 for 'filename' parameter (Thunderbird's default)
// 2 - Full 2047 compatible
$config['mime_param_folding'] = 1;

// Default font for composed HTML message.
// Supported values: Andale Mono, Arial, Arial Black, Book Antiqua, Courier New,
// Georgia, Helvetica, Impact, Tahoma, Terminal, Times New Roman, Trebuchet MS, Verdana
$config['default_font'] = 'Verdana';

// CUSTOM settings

// Message size limit. Note that SMTP server(s) may use a different value.
// This limit is verified when user attaches files to a composed message.
// Size in bytes (possible unit suffix: K, M, G)
$config['max_message_size'] = '{{ rcube_max_message_size }}';
$config['archive_mbox'] = 'Archive';

{% if rcube_oauth == 'true' %}
// OAUTH SUPPORT
$config['oauth_provider'] = '{{ rcube_oauth_provider }}';
$config['oauth_provider_name'] = '{{ rcube_oauth_provider_name }}';
$config['oauth_client_id'] = "{{ rcube_oauth_client_id }}";
$config['oauth_client_secret'] = "{{ rcube_oauth_client_secret }}";

$config['oauth_auth_uri'] = "{{ rcube_oauth_auth_uri }}";
$config['oauth_token_uri'] = "{{ rcube_oauth_token_uri }}";
$config['oauth_identity_uri'] = "{{ rcube_oauth_identity_uri }}";
$config['oauth_verify_peer'] = {{ rcube_oauth_verify_peer }};
$config['oauth_scope'] = "{{ rcube_oauth_scope }}";
$config['oauth_auth_parameters'] = {{ rcube_oauth_auth_parameters }};
$config['oauth_identity_fields'] = {{ rcube_oauth_identity_fields }};
$config['oauth_login_redirect'] = {{ rcube_oauth_login_redirect }};
$config['login_password_maxlen'] = {{ rcube_login_password_maxlen }};
$config['auto_create_user'] = {{ rcube_auto_create_user }};
{% endif %}
