<?php
// if true ALL users must have 2-steps active
$rcmail_config['force_enrollment_users'] = {{ item.options.force_enrollment_users }};

// whitelist, CIDR format available
// NOTE: we need to use .0 IP to define LAN because the class CIDR have a issue about that (we can't use 129.168.1.2/24, for example)
$rcmail_config['whitelist'] = array( {{ item.options.whitelist }} );

// Admin can disable saving devices for all users (paranoid mode)
// Default: allow saving devices (true)
$rcmail_config['allow_save_device_30days'] = {{ item.options.allow_save_device_30days }};

// Make the 2-step field a masked password input type
// Default: form field will be text (false)
$rcmail_config['twofactor_formfield_as_password'] = {{ item.options.twofactor_formfield_as_password }};


// Users allowed to use plugin (IMPORTANT: other users DON'T have plugin activated)
$rcmail_config['users_allowed_2FA'] = array( {{ item.options.users_allowed_2F }} );


// failure logging, suggested by @pngd (issue 131)
$rcmail_config['enable_fail_logs'] = {{ item.options.enable_fail_logs }};
?>

